@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
h1{
   font-family: 'Josefin Sans', sans-serif;
}
.fullwidth{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
}
.background-animation{
   background: linear-gradient(-45deg, #384137, #406661, #3BB873, #94ED88);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.fullwidth h1{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   color:#fff;
  font-size: 5vw;
  letter-spacing: 1vw;
   
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}